name: Find LaunchDarkly flag code references

on:
  push:
  workflow_dispatch:


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  REPO_NAME: ${{ github.event.repository.name }}
  OWNER: ${{ github.repository_owner }}

jobs:
  launchDarklyCodeReferences:
    name: LaunchDarkly Code References
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 10
      - name: LaunchDarkly Code References
        uses: launchdarkly/find-code-references@v2.8.0
        with:
          accessToken: ${{ secrets.LD_ACCESS_TOKEN }}
          projKey: ${{ env.OWNER }}-${{ env.REPO_NAME }} 
