name: Find LaunchDarkly flag code references

on: push
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  launchDarklyCodeReferences:
    name: LaunchDarkly Code References
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 10
      - name: LaunchDarkly Code References
        uses: launchdarkly/find-code-references@v2.8.0
        with:
          accessToken: ${{ secrets.LD_ACCESS_TOKEN }}
          projKey: "bas-staff-picks-demo"
