
name: Deprovision Environment

permissions:
  id-token: write
  contents: read 

on:
  workflow_dispatch:
    inputs:
      project:
        required: true
      bucket:
        required: true
      region: 
        default: eu-west-1

jobs:
  Terraform:
    name: Terraform Destroy
    runs-on: ubuntu-latest
    
    defaults:
      run:
        shell: bash
        working-directory: ./terraform
    
    env:
      REPO_NAME: ${{ github.event.repository.name }}

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2

    - name: Terraform Setup
      uses: hashicorp/setup-terraform@v2

    - name: Configure AWS credentials (OIDC)
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: ${{ secrets.AWS_TFSTATE_ROLE }}
        aws-region: ${{ inputs.region }}
      
    - name: Terraform Init
      run: terraform init
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Terraform validate
      run: terraform validate

    - name: Terraform Apply
      run: terraform apply -auto-approve --destroy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TF_VAR_LAUNCHDARKLY_ACCESS_TOKEN: ${{ secrets.LD_ACCESS_TOKEN }}
        TF_VAR_project: ${{ inputs.project }} 
        TF_VAR_bucket: ${{ inputs.bucket }}
        TF_VAR_region: ${{ inputs.region }}

      
   
